/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/*actual stuff begins here */

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

h1, h2, h3, h4, h5 {
    font-size: 1.7rem;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
}

p {
    font-size: 1.4rem;
    line-height: 1.6;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

/*header*/

header {
    padding: 20px 0 20px 0;
    display: flex;
}

header nav {
    align-items: end;
    width: 75%;
    justify-content: space-between;
    margin: 0 4%;
    display: flex;
}

header nav a {
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
}

header .logo {
    margin: 0 .7em 0 0;
}

/*jumbotron*/

.jumbotron {
    margin-top: 20px;
    width: 100%
}

/*top content*/
    
.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: -2px 0 20px 0;
    border-bottom: .2em dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 30px 1% 20px 1%;
}

/*middle content*/

.middle-content {
    margin: 0 0 20px 0;
    border-bottom: .2em dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.5rem;
}

.middle-content .boxes #box2 {
    background: forestgreen;
}

.middle-content .boxes #box4 {
    background: darkorchid;
}

.middle-content .boxes #box6 {
    background: hotpink;
}

.middle-content .boxes #box8 {
    background: indigo;
}

.middle-content .boxes #box10 {
    background: lawngreen;
}

/*bottom content*/
    
.bottom-content {
    display: flex;
    margin: 0 2% 25px 0;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding: 5px 2% 0 2%;
}

/*footer*/

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    margin-top: 20px;
    font-size: 1.3rem;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/*===============================Tablet=========================================*/
@media (max-width: 768px) {

    .container {
	width: 100%;
    }

    header {
	flex-wrap: wrap;
    }

    header nav {
        width: 90%;
        padding: 0 1.5em 0 1.5em;
    }

    header .logo {
        display: block;
        margin: 2px auto 25px auto;
    }

    .top-content .text-container {
	padding-top: 25px;
    }

    .middle-content {
	margin-bottom: 15px;
    }

    .middle-content .boxes #box1 {
	background-color: teal;
    }

    .middle-content .boxes #box3 {
	background-color: gold;
    }

    .middle-content .boxes #box5 {
	background-color: cadetblue;
    }

    .middle-content .boxes #box7 {
	background-color: coral;
    }

    .middle-content .boxes #box9 {
	background-color: crimson;
    }

    .bottom-content {
	margin-bottom: 30px;
    }

    footer nav {
	margin-top: 0;
    }
	
}
/*=======================mobile======================================*/
@media (max-width: 400px) {
    header {
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 0;
    }

    header nav {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
	align-items: center;
	padding: 0;
    }

    header nav a {
	width: 100%;
	display: block;
	text-align: center;
	padding: 15px 0;
	font-size: 1.4rem;
	border-bottom: 1px solid gray;
    }

    header nav a:first-child {
	border-top: 1px solid gray;
    }
		 
    header .logo {
	margin: 10px 0 28px 0;
    }

    .jumbotron {
	margin-top: 0;
    }

    .top-content {
	flex-direction: column;
	align-items: flex-start;
	margin-top: 20px;
    }

    .top-content .text-container {
	width: 100%;
	padding: 10px 5% 17px;
    }

    .middle-content .boxes {
	flex-direction: row-reverse;
    }

    .middle-content .boxes .box {
	width: 25%;
    }

    .middle-content .boxes .box:last-child {
	display: none;
    }

    .bottom-content {
	flex-direction: column;
	margin-bottom: 20px;
    }

    .bottom-content .text-container {
	padding: 10px 10px 15px 10px;
    }

    .bottom-content .text-container:last-child {
	padding-bottom: 0;
    }

    footer nav {
	width: 100%;
	justify-content: center;
	align-content: center;
	padding: 5%;
    }

    footer nav a {
	padding: 3%;
    }
    
}
    

